body{
    background-color: aquamarine;

}

div{
    border: 2px solid rgb(0, 0, 0) ;
    width: 58%;
    border-radius: 50px;
    background-color: orangered;
}

button{
    background-color: rgb(3, 206, 3);
    width: 35%;
    height: 40%;
}